@keyframes cambiarcolorletras  {
    0%{
        color:white;
    }

    50%{
        color:blue;

    }
    100%{
        color:red
    }
    
      
      }

      uno {
        
        @extend .animate__animated;
        @extend .animate__bounce;
        animation: bounce 2s infinite;
      
        font-size: 20px;
        color: #333;
        text-align: center;
        padding: 10px;
      }
