@media screen and (min-width: 1024px) and (max-width: 1920px) {
    header {
        justify-content: space-between; 
        padding: 10px 20px;
    }

    header h1 {
        font-size: 2.5rem; 
    }

    .img-uno {
        width: 40%;
        height: 25%;
        margin: 2%;
    }
}
header {
    background-color: #F8D4CD; 
    justify-content: space-between; 
    padding: 15px 30px; 
}

header h1 {
    font-size: 2.5rem; 
}

header nav {
    display: flex; 
    gap: 15px;
}

.img-uno {
    width: 40%; 
    height: auto; 
    margin: 2%;
}

.uno {
    animation-name: cambiarcolorletras;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 1s;
    
    }